$cb-basic-form-field($margin = 0)
  border-radius: $cb-copy-size--micro
  padding: $cb-spacing-size
  font-size: $cb-copy-size--large
  border 1px solid $gray-light
  color: $gray-darker
  width: 100%
  box-sizing: border-box
  margin: $margin
  &::placeholder
    color: $gray-light


@import "/Textarea/index.styl"
@import "/Input/index.styl"
@import "/Select/index.styl"
