.cb-card
  background-color $white
  width: 100%
  overflow: hidden
  border-radius: $cb-spacing-size--small
  padding: $cb-spacing-size
  margin: $cb-spacing-size--big $cb-spacing-size--none $cb-spacing-size--huge
  $box-shadow("0px 3px 8px 0px rgba(55, 69, 77, 0.5)")
  color: $primary-dark
