.cb-button
  $cb-basic-form-field()
  cursor pointer
  background-color $primary
  color $white
  text-align center
  display inline-block

.cb-button--inverted
  background-color transparent
  border 2px $primary solid
  color $primary

.cb-button--fluid
  width 100%

.cb-button--pill
  border-radius 100px

