/* TAG */
@require '../style.styl'

.cb-st-tag {
  font-size: $cb-copy-size--small;
  background-color: #cfe9fe;
  border: 1px solid;
  border-color: #034d86;
  color: #034d86;
  border-radius: 100px;
  margin: 0 8px 8px 0;
  padding: 4px 8px;
  white-space: nowrap;
  display: inline-block;
  &--big {
    font-size: 16px;
    margin: 0 12px 12px 0;
    padding: 8px 16px;
  }
}
.cb-st-tag--invertedw {
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
  color: #fff;
}
.cb-st-tag--selected {
  font-weight: bold;
}
.cb-st-tag--warning {
  background-color: #fff4cc;
  color: #b87d00;
  border-color: #e9a001;
}
.cb-st-tag--success {
  background-color: #ccfadd;
  color: #0a6a36;
  border-color: #0a6a36;
}
.cb-st-tag--disabled {
  background-color: #f7f8fa;
  color: #5d6974;
  border-color: #5d6974;
}
