// SIZES
$cb-copy-size--none = 0
$cb-copy-size--zero = 0
$cb-copy-size--micro = 4px
$cb-copy-size--smaller = 8px
$cb-copy-size--small = 12px
$cb-copy-size = 14px
$cb-copy-size--large = 16px
$cb-copy-size--large = 20px
$cb-copy-size--big = 24px
$cb-copy-size--bigger = 32px
$cb-copy-size--huge= 40px

$cb-spacing-size--none = 0
$cb-spacing-size--zero = 0
$cb-spacing-size--micro = 4px
$cb-spacing-size--smaller = 6px
$cb-spacing-size--small = 8px
$cb-spacing-size = 16px
$cb-spacing-size--large = 24px
$cb-spacing-size--large = 32px
$cb-spacing-size--big = 40px
$cb-spacing-size--bigger = 48px
$cb-spacing-size--huge= 64px

//COLORS
$white = #fff

$gray-lightest = #fefefe
$gray-lighter = #eee
$gray-light = #aaa
$gray = #999
$gray-dark = #777
$gray-darker = #444
