/************************************************************************/
/* SPECIFIC ELEMENTS
/************************************************************************/
body {
  background-color: #d6d7dc;
  font-family: sans-serif, Arial;
}
:focus {
  outline: 0;
}
.cb-content {
  max-width: 600px;
  margin: auto;
  padding: 104px 8px;
}

/* DRINKCARD */

.cb-drink-card {
  border-radius: 8px;
  background-color: #F7F8FA;
  margin: 8px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(55,69,77,.5);
  -moz-box-shadow: 0px 0px 8px 0px rgba(55,69,77,.5);
  box-shadow: 0px 0px 8px 0px rgba(55,69,77,.5);
  color: #111;
  overflow: hidden;
  margin-top: 32px;
}

.cb-drink-card__header {
  width: 100%;
  padding-bottom: 20%;
  background-color: #57B3FC; /*#011B30;*/
}

.cb-drink-card__thumb-container {
  width: 25%;
  margin: auto;
  min-width: 64px;
  max-width: 240px;
}
.cb-drink-card__thumb {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid #F7F8FA;
  margin-top: -50%;
}

.cb-drink-card__text-container {
  padding: 0 32px;
}

.cb-drink-card__title {
  text-align: center;
}
@media screen and (max-width: 768px){
  .cb-drink-card__text-container {
    padding: 0 16px;
  }
}

.cb-tag {
  font-size: 12px;
  background-color: #CFE9FE;
  border: 1px solid;
  border-color: #034D86;
  color: #034D86;
  border-radius: 100px;
  margin: 0 8px 8px 0;
  padding: 4px 8px;
  white-space: nowrap;
  display: inline-block;
}

.cb-tag--warning {
  background-color: #FFF4CC;
  color: #E9A001;
  border-color:  #E9A001;
}

.cb-tag--success {
  background-color: #CCFADD;
  color: #0A6A36;
  border-color: #0A6A36;
}

.cb-copy {
  color: #363D43
}

.cb-copy--muted {
 color: #97A2AC
}

.cb-events-by-date {
  margin-top: 32px;
}
.cb-events-by-date h2 {
  font-size: 16px;
}
.cb-event-group,
.cb-no-events {
  background-color: #fff;
  border: 1px solid #37454d;
  padding: 0 16px;
}
.cb-no-events {
  margin-top: 40px;
  padding: 40px;
  text-align: center;
}
.cb-event {
  display: flex;
  overflow: hidden;
}
.cb-event .cb-all-text {
  display: flex;
  overflow: hidden;
  width: 750;
}
.cb-event:not(:last-child){
  border-bottom: 1px solid #37454d;
}
.cb-event .cb-text {
  width: 600px;
}
.cb-event .cb-hour {
  width: 150px;
  position: relative;
}
.cb-event .cb-hour .cb-hour-text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
.cb-event .cb-text .cb-description {
  font-weight: lighter;
}
.cb-event .cb-button {
  width: 300px;
  position: relative;
}
.cb-event .cb-button .cb-button-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (max-width: 576px) {
  .cb-event {
    display: block;
  }
  .cb-event .cb-hour {
    border-right: 1px solid #9ba8a6;
    margin: 16px 0;
  }
  .cb-event .cb-button {
    width: 100%;
    display: inline-block;
    padding: 32px 0 24px;
  }
}

/* cb-modal */
.cb-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
  transition: all .4s;
}
.cb-modal > div.cb-modal-content {
  width: 400px;
  max-width: 80%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 2px solid #ebeced;
}

/* navigation */
.cb-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(55,69,77,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(55,69,77,1);
  box-shadow: 0px 0px 10px 0px rgba(55,69,77,1);
}
.cb-navigation .cb-nav-inner {
  max-width: 600px;
  padding: 0 8px;
  margin: auto;
  height: 80px;
  position: relative;
}
.cb-navigation ul,
.cb-navigation .cb-logo-wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cb-navigation ul {
  right: 0;
}
.cb-navigation .cb-logo-wrapper {
  left: 0;
}
.cb-navigation img  {
  width: 56px;
  padding-left: 8px;
}
.cb-navigation li {
  display: inline;
  list-style-type: none;
  padding-left: 16px;
}
.cb-navigation li a,
.cb-navigation li a:hover,
.cb-navigation li a:active,
.cb-navigation li a:focus,
.cb-navigation li a:visited {
  color: #37454d;
  text-decoration: none;
}
.cb-navigation li a.cb-active-link,
.cb-navigation li a.cb-active-link:hover,
.cb-navigation li a.cb-active-link:active,
.cb-navigation li a.cb-active-link:focus,
.cb-navigation li a.cb-active-link:visited {
  color: #127fab;
  font-weight: bold;
}

/* filters */
.cb-filters-row {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #37454d;
  padding: 16px;
  text-align: center;
}
.cb-switch-group {
  text-align: center;
  display: inline-block;
  padding: 24px 32px;
}
.cb-switch-group .cb-toggle-label,
.cb-switch-group .cb-switch-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.cb-switch-group .cb-toggle-label {
  color: #9ba8a6;
  transition: all .4s ease-in-out
}
.cb-switch-group .cb-toggle-label.cb-on.cb-selected {
  color: #458314;
  font-weight: bold;
}
.cb-switch-group .cb-toggle-label.cb-off.cb-selected {
  color: #127fab;
  font-weight: bold;
}
.cb-time-range-select {
  display: inline-block;
  padding: 16px 32px;
}
.cb-time-range-select select {
  background:url("/img/cb-select-arrow.png");
  background-repeat:no-repeat;
  background-position: right 12px top 16px;
  background-size: 16px 12px;
  padding:12px;
  padding-right: 36px;
  width:auto;
  font-size:16px;
  border-radius:0;
  -webkit-border-radius:0;
  -webkit-appearance: none;
  border: 1px solid #9ba8a6;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}
.cb-time-range-select select.cb-no-value {
  color: #9ba8a6;
}
@media screen and (max-width: 576px) {
  .cb-time-range-select {
    display: block;
    padding: 16px 0;
  }
  .cb-time-range-select select {
    width: 100%
  }
}

.cb-text-search {
  padding: 16px 0;
}
.cb-text-search input {
  background:url("/img/cb-search.png");
  background-repeat:no-repeat;
  background-position: right 12px top 16px;
  background-size: 16px 12px;
  padding:12px;
  padding-right: 36px;
  width:100%;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  whicb-space: nowrap;
  font-size:16px;
  border-radius:0;
  -webkit-border-radius:0;
  -webkit-appearance: none;
  border: 1px solid #9ba8a6;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
}
.cb-text-search input::placeholder {
  color: #9ba8a6;
}
.cb-text-search .react-autocomplecb-input > li.active {
  background-color: #127fab;
}
/************************************************************************/
/* DESIGN SYSTEM
/************************************************************************/

/* REUSABLE CLASSES */
.cb-hide-i {
  display: none !important;
  opacity:0;
  height: 0;
  width: 0;
}

@media screen and (max-width: 1280px) {
  .cb-hide-lg-down, .cb-hide-lg-down * {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .cb-hide-md-down, .cb-hide-md-down * {
    display: none;
  } 
}
@media screen and (max-width: 576px) {
  .cb-hide-sm-down, .cb-hide-sm-down * {
    display: none;
  }
}

.cb-md-up-br:before {
  content: ' ';
  display: block;
}
.cb-md-down-br:before {
  content: ' ';
  display: inline;
}
@media screen and (max-width: 992px) {
  .cb-md-up-br:before {
    content: ' ';
    display: inline;
  }
  .cb-md-down-br:before {
    content: ' ';
    display: block;
  }
}
.cb-cta, a.cb-cta,
a.cb-cta:visited,
a.cb-cta:hover,
a.cb-cta:focus,
a.cb-cta:active {
  color: #127fab;
  font-weight: bold;
}
.cb-btn-primary, .cb-btn-alternate {
  border-radius: 2px;
}
.cb-btn-primary {
  border: 2px solid;
  padding: 8px 16px;
  text-align: center;
  font-weight: bold;  
}
.cb-btn-blue {
  background-color: transparent;
  border-color: #127fab;
  color: #127fab;
}
.cb-btn-blue:hover {
  background-color: #127fab;
  color: #fff
}
.cb-btn-green {
  background-color: #458314;
  border-color: #458314;
  color: #fff;
}
.cb-btn-green:hover {
  background-color: #458314;
  color: #fff;
}
.cb-btn-orange {
  background-color: transparent;
  border-color: #f28e24;
  color: #f28e24;
}
.cb-btn-orange:hover {
  background-color: #f28e24;
  color: #fff;
}
.cb-btn-red {
  background-color: transparent;
  border-color: #c74b36;
  color: #c74b36;
}
.cb-btn-red:hover {
  background-color: #c74b36;
  color: #fff;
}
.cb-btn-abandonEvent {
  background-color: transparent;
  border-color: #458314;
  color: #458314; 
}
.cb-btn-abandonEvent::before {
  content: "You are in"
}
.cb-btn-abandonEvent:hover {
  background-color: #c74b36;
  border-color: #c74b36;
  color: #fff; 
}
.cb-btn-abandonEvent:hover::before {
  content: "Cancel"
}
.cb-btn-alternate {
  background-color: transparent;
  border-color: #0063ed;
  color: #0063ed;
}
.cb-btn-extended {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.cb-btn-extended60 {
  min-width: 60%;
  margin: auto;
}

/* COLORS */
.cb-bg-blue {
    background-color: #0063ed;
}
.cb-bs-blue {
    border-style: solid;
    border-color: #0063ed;
}
.cb-blue {
    color: #0063ed;
}
.cb-bg-black {
    background-color: #000;
}
.cb-black {
    color: #000;
}
.cb-bg-white {
    background-color: #fff;
}
.cb-white {
    color: #fff;
}
.cb-bg-lightgray {
    background-color: #ebeced;
}
.cb-lightgray {
    color: #ebeced;
}
.cb-bg-gray-4 {
    background-color: #444;
}
.cb-gray-4 {
    color: #444;
}
.cb-bg-gray-7 {
    background-color: #777;
}
.cb-gray-7 {
    color: #777;
}
.cb-gray {
  color: #909098
}
.cb-b-gray {
  border-color: #909098
}
.cb-bg-gray {
  background-color: #909098
}
.cb-bg-green {
    background-color: #458314;
}
.cb-green {
    color: #458314;
}
/* FONT */
.cb-ff1 {
    font-family: 'Open Sans', Source Sans Pro;
}
.cb-ff2 {
    font-family: 'Montserrat','Open Sans',Source Sans Pro,sans-serif,Helvetica,Arial;
}
.cb-lh-10, .cb-lh-10 * {
    line-height: 1;
}
.cb-lh-11 {
    line-height: 1.1;
}
.cb-lh-12 {
    line-height: 1.2;
}
.cb-fs-8, .cb-fs-r8 {
    font-size: 8px;
}
.cb-fs-10, .cb-fs-r10 {
    font-size: 10px;
}
.cb-fs-12, .cb-fs-r12 {
    font-size: 12px;
}
.cb-fs-16, .cb-fs-r16 {
    font-size: 16px;
}
.cb-fs-20, .cb-fs-r20 {
    font-size: 20px;
}
.cb-fs-24, .cb-fs-r24 {
    font-size: 24px;
}
.cb-fs-32, .cb-fs-r32 {
    font-size: 32px;
}
.cb-fs-40, .cb-fs-r40 {
    font-size: 40px;
}
.cb-fs-48, .cb-fs-r48 {
    font-size: 48px;
}
.cb-fs-56, .cb-fs-r56 {
    font-size: 56px;
}
.cb-fs-64, .cb-fs-r64 {
    font-size: 64px;
}
.cb-fs-72, .cb-fs-r72 {
    font-size: 72px;
}
.cb-fs-80, .cb-fs-r80 {
    font-size: 80px;
}
.cb-fs-88, .cb-fs-r88 {
    font-size: 88px;
}
.cb-fs-96, .cb-fs-r96 {
    font-size: 96px;
}
.cb-fs-104, .cb-fs-r104 {
    font-size: 104px;
}
.cb-fs-112, .cb-fs-r112 {
    font-size: 112px;
}
.cb-fs-120, .cb-fs-r120 {
    font-size: 120px;
}
.cb-fs-128, .cb-fs-r128 {
    font-size: 128px;
}
.cb-fs-136, .cb-fs-r136 {
    font-size: 136px;
}
.cb-fs-144, .cb-fs-r144 {
    font-size: 144px;
}

.cb-emph0 {
    font-weight: normal;
    text-transform: none;
    text-decoration: none;
}
.cb-emph1 {
    font-weight: bold;
    text-transform: uppercase;
}
.cb-emph-b {
    font-weight: bold;
}
.cb-emph-up {
    text-transform: uppercase;
}
.cb-emph-un {
    text-decoration: underline;
}

/* POSITIONS */

/* display / vertical alignment */
.cb-va-tt {
  vertical-align: text-top;
}
.cb-va-tb {
  vertical-align: text-bottom;
}

.cb-f-l {
    float: left; 
}
.cb-f-n {
    float: none; 
}
.cb-f-r {
    float: right; 
}

/* text-align */
.cb-ta-l {
    text-align: left; 
}
.cb-ta-r {
    text-align: right; 
}
.cb-ta-c {
    text-align: center; 
}
@media screen and (max-width: 576px) {
 .cb-ta-c-sm-down {
    text-align: center; 
  } 
}

/* padding */
.cb-p-0 {
  padding: 0px;
}
.cb-pv-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.cb-ph-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.cb-pt-0 {
  padding-top: 0px;
}
.cb-pb-0 {
  padding-bottom: 0px;
}
.cb-pl-0 {
  padding-left: 0px;
}
.cb-pr-0 {
  padding-right: 0px;
}

.cb-p-8 {
  padding: 8px;
}
.cb-pv-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.cb-ph-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.cb-pt-8 {
  padding-top: 8px;
}
.cb-pb-8 {
  padding-bottom: 8px;
}
.cb-pl-8 {
  padding-left: 8px;
}
.cb-pr-8 {
  padding-right: 8px;
}

.cb-p-16 {
  padding: 16px;
}
.cb-pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.cb-ph-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.cb-pt-16 {
  padding-top: 16px;
}
.cb-pb-16 {
  padding-bottom: 16px;
}
.cb-pl-16 {
  padding-left: 16px;
}
.cb-pr-16 {
  padding-right: 16px;
}

.cb-p-24 {
  padding: 24px;
}
.cb-pv-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.cb-ph-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.cb-pt-24 {
  padding-top: 24px;
}
.cb-pb-24 {
  padding-bottom: 24px;
}
.cb-pl-24 {
  padding-left: 24px;
}
.cb-pr-24 {
  padding-right: 24px;
}

.cb-p-32 {
  padding: 32px;
}
.cb-pv-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.cb-ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.cb-pt-32 {
  padding-top: 32px;
}
.cb-pb-32 {
  padding-bottom: 32px;
}
.cb-pl-32 {
  padding-left: 32px;
}
.cb-pr-32 {
  padding-right: 32px;
}

.cb-p-40 {
  padding: 40px;
}
.cb-pv-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.cb-ph-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.cb-pt-40 {
  padding-top: 40px;
}
.cb-pb-40 {
  padding-bottom: 40px;
}
.cb-pl-40 {
  padding-left: 40px;
}
.cb-pr-40 {
  padding-right: 40px;
}

.cb-p-48 {
  padding: 48px;
}
.cb-pv-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.cb-ph-48 {
  padding-left: 48px;
  padding-right: 48px;
}
.cb-pt-48 {
  padding-top: 48px;
}
.cb-pb-48 {
  padding-bottom: 48px;
}
.cb-pl-48 {
  padding-left: 48px;
}
.cb-pr-48 {
  padding-right: 48px;
}

.cb-p-56 {
  padding: 56px;
}
.cb-pv-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.cb-ph-56 {
  padding-left: 56px;
  padding-right: 56px;
}
.cb-pt-56 {
  padding-top: 56px;
}
.cb-pb-56 {
  padding-bottom: 56px;
}
.cb-pl-56 {
  padding-left: 56px;
}
.cb-pr-56 {
  padding-right: 56px;
}

.cb-p-64 {
  padding: 64px;
}
.cb-pv-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.cb-ph-64 {
  padding-left: 64px;
  padding-right: 64px;
}
.cb-pt-64 {
  padding-top: 64px;
}
.cb-pb-64 {
  padding-bottom: 64px;
}
.cb-pl-64 {
  padding-left: 64px;
}
.cb-pr-64 {
  padding-right: 64px;
}

.cb-p-80 {
  padding: 80px;
}
.cb-pv-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cb-ph-80 {
  padding-left: 80px;
  padding-right: 80px;
}
.cb-pt-80 {
  padding-top: 80px;
}
.cb-pb-80 {
  padding-bottom: 80px;
}
.cb-pl-80 {
  padding-left: 80px;
}
.cb-pr-80 {
  padding-right: 80px;
}

.cb-p-96 {
  padding: 96px;
}
.cb-pv-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}
.cb-ph-96 {
  padding-left: 96px;
  padding-right: 96px;
}
.cb-pt-96 {
  padding-top: 96px;
}
.cb-pb-96 {
  padding-bottom: 96px;
}
.cb-pl-96 {
  padding-left: 96px;
}
.cb-pr-96 {
  padding-right: 96px;
}

.cb-p-120 {
  padding: 120px;
}
.cb-pv-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.cb-ph-120 {
  padding-left: 120px;
  padding-right: 120px;
}
.cb-pt-120 {
  padding-top: 120px;
}
.cb-pb-120 {
  padding-bottom: 120px;
}
.cb-pl-120 {
  padding-left: 120px;
}
.cb-pr-120 {
  padding-right: 120px;
}

.cb-p-144 {
  padding: 144px;
}
.cb-pv-144 {
  padding-top: 144px;
  padding-bottom: 144px;
}
.cb-ph-144 {
  padding-left: 144px;
  padding-right: 144px;
}
.cb-pt-144 {
  padding-top: 144px;
}
.cb-pb-144 {
  padding-bottom: 144px;
}
.cb-pl-144 {
  padding-left: 144px;
}
.cb-pr-144 {
  padding-right: 144px;
}

.cb-p-160 {
  padding: 160px;
}
.cb-pv-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}
.cb-ph-160 {
  padding-left: 160px;
  padding-right: 160px;
}
.cb-pt-160 {
  padding-top: 160px;
}
.cb-pb-160 {
  padding-bottom: 160px;
}
.cb-pl-160 {
  padding-left: 160px;
}
.cb-pr-160 {
  padding-right: 160px;
}

/* margin */
.cb-m-0 {
  margin: 0px;
}
.cb-mv-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.cb-mh-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.cb-mb-0 {
  margin-bottom: 0px;
}
.cb-mt-0 {
  margin-top: 0px;
}
.cb-mr-0 {
  margin-right: 0px;
}
.cb-ml-0 {
  margin-left: 0px;
}
.cb-m-8 {
  margin: 8px;
}
.cb-mv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.cb-mh-8 {
  margin-left: 8px;
  margin-right: 8px;
}
.cb-mt-8 {
  margin-top: 8px;
}
.cb-mb-8 {
  margin-bottom: 8px;
}
.cb-ml-8 {
  margin-left: 8px;
}
.cb-mr-8 {
  margin-right: 8px;
}

.cb-m-16 {
  margin: 16px;
}
.cb-mv-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.cb-mh-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.cb-mt-16 {
  margin-top: 16px;
}
.cb-mb-16 {
  margin-bottom: 16px;
}
.cb-ml-16 {
  margin-left: 16px;
}
.cb-mr-16 {
  margin-right: 16px;
}

.cb-m-24 {
  margin: 24px;
}
.cb-mv-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.cb-mh-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.cb-mt-24 {
  margin-top: 24px;
}
.cb-mb-24 {
  margin-bottom: 24px;
}
.cb-ml-24 {
  margin-left: 24px;
}
.cb-mr-24 {
  margin-right: 24px;
}

.cb-m-32 {
  margin: 32px;
}
.cb-mv-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.cb-mh-32 {
  margin-left: 32px;
  margin-right: 32px;
}
.cb-mt-32 {
  margin-top: 32px;
}
.cb-mb-32 {
  margin-bottom: 32px;
}
.cb-ml-32 {
  margin-left: 32px;
}
.cb-mr-32 {
  margin-right: 32px;
}

.cb-m-40 {
  margin: 40px;
}
.cb-mv-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.cb-mh-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.cb-mt-40 {
  margin-top: 40px;
}
.cb-mb-40 {
  margin-bottom: 40px;
}
.cb-ml-40 {
  margin-left: 40px;
}
.cb-mr-40 {
  margin-right: 40px;
}

.cb-m-48 {
  margin: 48px;
}
.cb-mv-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.cb-mh-48 {
  margin-left: 48px;
  margin-right: 48px;
}
.cb-mt-48 {
  margin-top: 48px;
}
.cb-mb-48 {
  margin-bottom: 48px;
}
.cb-ml-48 {
  margin-left: 48px;
}
.cb-mr-48 {
  margin-right: 48px;
}

.cb-m-56 {
  margin: 56px;
}
.cb-mv-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.cb-mh-56 {
  margin-left: 56px;
  margin-right: 56px;
}
.cb-mt-56 {
  margin-top: 56px;
}
.cb-mb-56 {
  margin-bottom: 56px;
}
.cb-ml-56 {
  margin-left: 56px;
}
.cb-mr-56 {
  margin-right: 56px;
}

.cb-m-64 {
  margin: 64px;
}
.cb-mv-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.cb-mh-64 {
  margin-left: 64px;
  margin-right: 64px;
}
.cb-mt-64 {
  margin-top: 64px;
}
.cb-mb-64 {
  margin-bottom: 64px;
}
.cb-ml-64 {
  margin-left: 64px;
}
.cb-mr-64 {
  margin-right: 64px;
}

.cb-m-80 {
  margin: 80px;
}
.cb-mv-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.cb-mh-80 {
  margin-left: 80px;
  margin-right: 80px;
}
.cb-mt-80 {
  margin-top: 80px;
}
.cb-mb-80 {
  margin-bottom: 80px;
}
.cb-ml-80 {
  margin-left: 80px;
}
.cb-mr-80 {
  margin-right: 80px;
}

.cb-m-96 {
  margin: 96px;
}
.cb-mv-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}
.cb-mh-96 {
  margin-left: 96px;
  margin-right: 96px;
}
.cb-mt-96 {
  margin-top: 96px;
}
.cb-mb-96 {
  margin-bottom: 96px;
}
.cb-ml-96 {
  margin-left: 96px;
}
.cb-mr-96 {
  margin-right: 96px;
}

.cb-m-120 {
  margin: 120px;
}
.cb-mv-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}
.cb-mh-120 {
  margin-left: 120px;
  margin-right: 120px;
}
.cb-mt-120 {
  margin-top: 120px;
}
.cb-mb-120 {
  margin-bottom: 120px;
}
.cb-ml-120 {
  margin-left: 120px;
}
.cb-mr-120 {
  margin-right: 120px;
}

.cb-m-144 {
  margin: 144px;
}
.cb-mv-144 {
  margin-top: 144px;
  margin-bottom: 144px;
}
.cb-mh-144 {
  margin-left: 144px;
  margin-right: 144px;
}
.cb-mt-144 {
  margin-top: 144px;
}
.cb-mb-144 {
  margin-bottom: 144px;
}
.cb-ml-144 {
  margin-left: 144px;
}
.cb-mr-144 {
  margin-right: 144px;
}

.cb-m-160 {
  margin: 160px;
}
.cb-mv-160 {
  margin-top: 160px;
  margin-bottom: 160px;
}
.cb-mh-160 {
  margin-left: 160px;
  margin-right: 160px;
}
.cb-mt-160 {
  margin-top: 160px;
}
.cb-mb-160 {
  margin-bottom: 160px;
}
.cb-ml-160 {
  margin-left: 160px;
}
.cb-mr-160 {
  margin-right: 160px;
}

/* border */ 
.cb-b-8 {
  border-width: 8px;
}

/* DESIGN SYSTEM END */ 